<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airplane_type.name %>
</p>

<%= link_to 'Edit', edit_airplane_type_path(@airplane_type) %> |
<%= link_to 'Back', airplane_types_path %>
